<?xml version="1.0" encoding="utf-8"?>
<!-- Pour IIS : sert le manifeste (installation comme appli) et ne met pas en cache la page,
     pour que tout le monde ait la dernière version dès qu'elle est publiée. -->
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".webmanifest" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment=".git" />
          <add segment="windows" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
  <location path="index.html">
    <system.webServer>
      <staticContent><clientCache cacheControlMode="DisableCache" /></staticContent>
    </system.webServer>
  </location>
  <location path="sw.js">
    <system.webServer>
      <staticContent><clientCache cacheControlMode="DisableCache" /></staticContent>
    </system.webServer>
  </location>
</configuration>
